ul {
  list-style: none;
  li {
    margin: 0 10px;
    a {
      padding: 5px 10px;
      text-decoration: none;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      svg {
        margin-right: 5px;
      }
    }
  }
}
