@import "./variables.scss";
@import "./components/index.scss";

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

// .container {
//   padding-top: 8vh;
// }

.m-10 {
  margin: 10px;
}

.m-5 {
  margin: 5;
}

.m-0-10 {
  margin: 0 10px;
}

.m-10-0 {
  margin: 10px 0;
}
