.form-wrapper {
  color: $white;
  margin: 0 10vw 0 3vw;
  .link-form {
    display: flex;
    flex-direction: row;
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .sosial-login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    p {
      color: $white;
      position: absolute;
      background-color: $primary-color;
      padding: 0 10px;
      top: -10px;
      z-index: 2;
    }
    .line {
      position: relative;
      height: 2px;
      width: 20vw;
      background-color: $white;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      button {
        &:nth-child(1) {
          width: 49%;
        }
        &:nth-child(2) {
          width: 49%;
        }
      }
    }
  }
}
